:root {
  --basic-black: #000000;
  --basic-extra-black: #444444;
  --basic-grey: #dcdcdc;
  --basic-extra-grey: #ebebeb;
  --basic-white: #f0f0f0;
  --basic-extra-white: #ffffff;
  --basic-yellow: #ffe17f;
  --basic-extra-yellow: #ffc700;
  --basic-purple: #af4fff;
  --basic-red: #ff3d3d;
  --basic-orange: #fd912e;
  --basic-green: #08af00;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
  font-display: swap;
}
.html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  background-color: #e5e5e5;
}
.page-header {
  color: #000000;
  background-color: #ffe17f;
}
.navigation {
  display: flex;
  width: 1160px;
  margin: 0 auto;
}
.navigation-link {
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  color: #000000;
  background-color: #ffe17f;
  font-weight: 800;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
.main-container {
  flex-grow: 1;
}
.navigation-list-first {
  margin: 0;
  padding: 0;
  width: 900px;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
}
.navigation-list {
  margin: 0;
  padding: 0;
  width: 660px;
}
.page-container {
  width: 1160px;
  margin: 0 auto;
}
.pic {
  width: 560px;
}
.advantages {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 740px;
}
.advantages-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  text-transform: uppercase;
  width: 560px;
}
.advantages-text {
  width: 560px;
}
.advantages-subtitle {
  font-family: "Rubik", sans-serif;
  text-transform: uppercase;
}
.advantages-description {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
}
.products-img {
  background-color: #ffe17f;
  width: 136px;
}
.products-text {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
}
.products-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  text-align: center;
}
.products-item {
  width: 160px;
}
.service-list {
  margin: 0 340px;
}
.service-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  text-transform: uppercase;
  width: 560px;
}
.service-subtitle {
  width: 497px;
}
.details {
  width: 560px;
}
.details-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  text-transform: uppercase;
}
.details-subtitle {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}
.details-list {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
}
.car-delivery {
  width: 1160px;
}
.car-delivery-title {
  width: 910px;
  margin: 0 265px;
}
.contacts {
  width: 560px;
}
.contacts-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  text-transform: uppercase;
}
.contacts-subtitle {
  font-family: "Rubik", sans-serif;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}
.mailing-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  text-transform: uppercase;
}
.socials-item {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
}
.description-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  text-transform: uppercase;
}
.breadcrumb-item {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
}
.filter-title {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
}
.legend {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
}
.product-card-title {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  color: #444444;
}
.product-card-price {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
}
.pagination-item {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
}
.pagination-next {
  color: #000000;
}
.pagination-link {
  color: #444444;
}
.footer-map-addres {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: var(--basic-extra-white);
}
.footer-container {
  display: flex;
  width: 1440px;
  margin: 0 auto;
}
.logo {
  width: 145px;
}
.footer-map {
  width: 238px;
}
.footer-menu {
  display: flex;
}
.footer-item {
  width: 460px;
  margin: 0 auto;
}
.socials-item {
  width: 134px;
  margin: 0 auto;
}
.footer-contacts {
  width: 293px;
  margin-right: 140px;
}
