:root {
  --basic-black: #000000;
  --basic-extra-black: #444444;
  --basic-popular-grey: #ffffff4d;
  --basic-grey: #dcdcdc;
  --basic-extra-grey: #ebebeb;
  --basic-white: #f0f0f0;
  --basic-extra-white: #ffffff;
  --basic-yellow: #ffe17f;
  --basic-extra-yellow: #ffc700;
  --basic-purple: #af4fff;
  --basic-red: #ff3d3d;
  --basic-orange: #fd912e;
  --basic-green: #08af00;
  --basic-popular-white: #e5e5e5;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
  font-display: swap;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  background-color: var(--basic-popular-white);
}
.page-header {
  color: #000000;
  background-color: var(--basic-yellow);
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
.navigation-link {
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  color: #000000;
  background-color: var(--basic-yellow);
  font-weight: 800;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
.main-container {
  flex-grow: 1;
}
.navi-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 44px;
}
.navigation-user-menu {
  display: flex;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  list-style: none;
}

.navigation-list {
  display: flex;
  justify-content: space-around;
  margin: ;
  padding: ;
  list-style: none;
}
.page-container {
  margin: 0 auto;
}
.advantages {
  display: flex;
}
.advantages-container {
  padding-left: 40px;
}
.advant-container {
  display: flex;
  padding-bottom: 109px;
}
.advant {
  padding-right: 20px;
  padding-left: 40px;
}

.advantages-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  text-transform: uppercase;
  max-width: 560px;
  width: 100%;
  margin-left: 40px;
}
.advantages-text {
  padding-left: 41px;
}
.advantages-subtitle {
  font-family: "Rubik", sans-serif;
  text-transform: uppercase;
  margin-left: 40px;
  padding-bottom: 30px;
  padding-top: 30px;
  max-width: 220px;
  margin-left: 40px;
}
.advantages-description {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
}
.products-text {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
}
.products-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
}
.products-item {
  background-color: var(--basic-yellow);
  max-width: 160px;
  width: 100%;
  padding-bottom: 52px;
  padding-top: 52px;
  max-height: 160px;
  height: 100%;
}

.service {
  background-color: var(--basic-white);
  margin-top: 139px;
}
.service-list {
  padding-left: 0;
  list-style: none;
}
.service-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  text-transform: uppercase;
  max-width: 560px;
  width: 100%;
  margin-left: 540px;
}
.service-img {
  width: 136px;
}
.service-subtitle {
  max-width: 497px;
  width: 100%;
  margin-left: 540px;
}
.container-details {
  display: flex;
}
.details-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  text-transform: uppercase;
}
.details-subtitle {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  max-width: 497px;
  width: 100%;
  padding-right: 103px;
}
.details-list {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
  margin-top: 47px;
  max-width: 497px;
  width: 100%;
}
.car-delivery {
  background-color: var(--basic-white);
  margin-top: 109px;
}
.car-delivery-title {
  max-width: 910px;
  width: 100%;
  padding-left: 125px;
  text-align: center;
  padding-bottom: 43px;
}
.logo {
  max-width: 125px;
  width: 100%;
}
.container-details {
  margin-top: 146px;
}
.container-contacts {
  display: flex;
}
.contacts {
  width: 50%;
}
.contacts-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  text-transform: uppercase;
  max-width: 560px;
  width: 100%;
}
.contacts-subtitle {
  font-family: "Rubik", sans-serif;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}
.contact-info {
  max-width: 498px;
  width: 100%;
}
.contacts-mode {
  max-width: 204px;
  width: 100%;
}
.container-mailing {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}
.mailing {
  background-color: var(--basic-white);
}
.mailing-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  text-transform: uppercase;
  max-width: 560px;
  width: 100%;
  display: flex;
  padding-top: 75px;
  padding-left: 140px;
  padding-left: 40px;
}
.mailing-text {
  display: flex;
}
.mailing-subtitle {
  max-width: 560px;
  width: 100%;
  padding-top: 86px;
}
.socials-item {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
}
.description-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  text-transform: uppercase;
  margin-top: 37px;
}
.breadcrumb {
  display: flex;
}
.breadcrumb-item {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  list-style: none;
}
.catalog-filter {
  max-width: 468px;
  list-style: none;
}
.filter-title {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  background-color: var(--basic-grey);
}
.product-list {
  display: flex;
  flex-wrap: wrap;
  padding-top: 69px;
  padding-left: 72px;
  list-style: none;
}
.container-product {
  display: flex;
  flex-wrap: wrap;
}
.container-pagination {
  display: flex;
  justify-content: space-around;
}

.pagination {
  list-style: none;
  background-color: var(--basic-extra-grey);
}

.wrapper-catalog {
  display: flex;
  margin-top: 82px;
}
.sorting-type-sort {
  padding-left: 72px;
}
.container-filter {
  display: flex;
}
.sorting-type {
  background-color: var(--basic-extra-grey);
}
.legend {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
}
.catalog-filter {
  max-width: 268px;
  width: 100%;
}
.catalog-products-card {
  margin-right: 40px;
}
.catalog-products:nth-child(odd) {
  margin-right: 40px;
}
.catalog-productsd-title {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  color: var(--basic-extra-black);
}
.catalog-products-price {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
}
.button-catalog {
  max-width: 760px;
  width: 100%;
  margin-bottom: 51px;
}
.pagination {
  display: flex;
}
.pagination-item {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
}
.pagination-next {
  color: var(--basic-black);
}
.pagination-link {
  color: var(--basic-extra-black);
}
.footer {
  background-color: var(--basic-extra-black);
}
.footer-map-addres {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: var(--basic-extra-white);
  margin-top: 133px;
}
.container-footer {
  display: flex;
}
.logo {
}
.footer-map {
  max-width: 238px;
  width: 100%;
}
.footer-menu {
  display: flex;
}
.footer-item {
  display: flex;
  list-style: none;
}
.footer-list {
  color: var(--basic-extra-white);
  max-width: 148px;
  width: 100%;
  margin-right: 10px;
  margin-top: 137px;
}
.socials-item {
  display: flex;
  align-items: center;
  list-style: none;
}
.socials-list {
  padding-top: 220px;
}
.contact-phone {
  color: var(--basic-extra-white);
  max-width: 293px;
  width: 100%;
  margin-top: 133px;
}
.socials-link {
  width: 40px;
  height: 40px;
  background-color: var(--basic-popular-grey);
  display: block;
  border-radius: 50%;
}
