:root {
  --basic-black: #000000;
  --basic-extra-black: #444444;
  --basic-popular-grey: #ffffff4d;
  --basic-grey: #dcdcdc;
  --basic-extra-grey: #ebebeb;
  --basic-white: #f0f0f0;
  --basic-extra-white: #ffffff;
  --basic-yellow: #ffe17f;
  --basic-extra-yellow: #ffc700;
  --basic-purple: #af4fff;
  --basic-red: #ff3d3d;
  --basic-orange: #fd912e;
  --basic-green: #08af00;
  --basic-popular-white: #e5e5e5;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
  font-display: swap;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  counter-reset: section;
}
.page-header {
  color: #000000;
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
.header-container.container {
  background-color: var(--basic-yellow);
  padding-top: 17px;
  box-shadow: inset 0px 40px 0 var(--basic-extra-white);
}
.navigation-link {
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  color: #000000;
  font-weight: 800;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
.navigation-link-open {
  display: flex;
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  color: #000000;
  font-weight: 800;
  text-align: center;
  text-decoration: none;
}
.navi-item-go {
  margin-right: 195px;
}
.navi-item-compare {
  margin-right: 64px;
}
.navi-item-basket {
  margin-right: 62px;
}
.navigation-item {
  letter-spacing: 0.2em;
}
.navigation-title {
  padding-left: 7px;
}
.navigation-link-open:hover {
  opacity: 60%;
}
.navigation-link-open:active {
  opacity: 30%;
}
.navigation-link-open:focus {
  border-color: var(--basic-purple);
  border-radius: 20px;
  border: 2px solid var(--basic-purple);
}
.navigation-link-compare {
  display: flex;
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  color: #000000;
  font-weight: 800;
  text-align: center;
  text-decoration: none;
}
.navigation-link-compare:hover {
  opacity: 60%;
}
.navigation-link-compare:active {
  opacity: 30%;
}
.navigation-link-compare:focus {
  border-color: var(--basic-purple);
  border-radius: 20px;
  border: 2px solid var(--basic-purple);
}
.navigation-link-basket {
  display: flex;
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  color: #000000;
  font-weight: 800;
  text-align: center;
  text-decoration: none;
}
.navigation-link-basket:hover {
  opacity: 60%;
}
.navigation-link-basket:active {
  opacity: 30%;
}
.navigation-link-basket:focus {
  border-color: var(--basic-purple);
  border-radius: 20px;
  border: 2px solid var(--basic-purple);
}
.navigation-link-open::before {
  display: flex;
  position: relative;
  content: "";
  background-image: url(../img/index/Vectorgo.svg);
  background-position: left;
  background-size: 16px 16px;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
}
.navigation-link-compare::before {
  display: flex;
  position: relative;
  content: "";
  background-image: url(../img/index/schedule.svg);
  background-position: left;
  background-size: 14px 16px;
  background-repeat: no-repeat;
  width: 14px;
  height: 16px;
}
.navigation-link-basket::before {
  display: flex;
  position: relative;
  content: "";
  background-image: url(../img/index/basket.svg);
  background-position: left;
  background-size: 14px 16px;
  background-repeat: no-repeat;
  width: 14px;
  height: 16px;
}
.main-container {
  flex-grow: 1;
}
.navi-header {
  display: flex;
  margin-bottom: 36px;
  margin-top: 29px;
}
.navigation-user-menu {
  display: flex;
  justify-content: space-between;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 19px;
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.appointment-form {
  max-width: 500px;
  width: 100%;
  display: flex;
  margin-left: 60px;
  margin-right: auto;
}
.logo-header {
  margin-left: 61px;
}
.button-header {
  border: 0;
  background-color: var(--basic-yellow);
}
.field {
  background-color: var(--basic-yellow);
  max-width: 480px;
  width: 100%;
  margin-left: 20px;
  border: 0;
  opacity: 30%;
}
.field:hover {
  opacity: 60%;
}
.field:focus {
  border: 2px solid var(--basic-purple);
  border-radius: 20px;
  border-color: var(--basic-purple);
}
.navigation-list {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation-link:hover {
  opacity: 60%;
}
.navigation-link:active {
  opacity: 30%;
}
.navigation-link:focus {
  border-color: var(--basic-purple);
  border-radius: 20px;
  border: 2px solid var(--basic-purple);
}
.page-container {
  margin: 0 auto;
}
.advantages {
  display: flex;
}
.advantages-container {
  padding-left: 40px;
  padding-top: 130px;
}
.advant-container {
  display: flex;
  padding-bottom: 109px;
  font-family: "Rubik", sans-serif;
  font-size: 36px;
  line-height: 30px;
}
.advantages {
  padding-top: 16px;
}
.advantages-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  max-width: 560px;
  width: 100%;
  margin-top: 0;
  margin-bottom: 30px;
}
.advantages-subtitle {
  display: flex;
  justify-content: center;
  position: relative;
  max-width: 220px;
  width: 100%;
  z-index: 0;
  background-color: transparent;
  font-family: "Raleway";
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin: 0;
  margin-bottom: 32px;
}
.advantages-subtitle::before {
  position: absolute;
  content: "";
  width: 220px;
  height: 8px;
  background-color: var(--basic-extra-yellow);
  z-index: -1;
  margin: auto;
  right: 0;
  left: 0;
  top: 5px;
}
.advantages-subtitles {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 30px;
}
.advantages-text {
  padding-bottom: 30px;
}
.advantages-description {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 30px;
  margin: 0;
}
.advant {
  max-width: 160px;
  width: 100%;
}
.advant-first {
  max-width: 160px;
  width: 100%;
}
.container.container-advant {
  box-shadow: inset 0px 172px 0 var(--basic-yellow);
  position: relative;
  z-index: 0;
}
.container.container-advant::before {
  counter-increment: section;
  content: "01";
  position: absolute;
  font-family: "Rubik", sans-serif;
  font-weight: 800;
  font-size: 180px;
  line-height: 30px;
  color: var(--basic-extra-white);
  right: 70px;
  top: 102px;
  display: flex;
  text-align: right;
  align-items: center;
  z-index: -1;
}
.products {
  padding-bottom: 69px;
}
.product-logo {
  background-color: var(--basic-yellow);
  height: 160px;
  margin-bottom: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-logo:focus {
  border-radius: 20px;
  border: 2px solid var(--basic-purple);
  color: rgba(255, 225, 127, 1);
}
.product-logo:hover {
  color: rgba(255, 199, 0, 1);
}
.products-text {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 0;
  text-align: left;
}
.products-list {
  display: grid;
  grid-template-columns: repeat(6, 160px);
  grid-gap: 40px;
  text-align: center;
  list-style: none;
  padding-left: 0;
  margin-top: -27px;
  margin-bottom: 0;
}
.products-link {
  color: black;
  text-decoration: none;
}
.products-text:hover {
  opacity: 60%;
}
.products-text:active {
  opacity: 30%;
}
.products-text:focus {
  border-radius: 20px;
  border: 2px solid var(--basic-purple);
}
.service {
  background-color: var(--basic-white);
  margin-top: 139px;
}
.service-content {
  margin-left: 149px;
}
.service-menu {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  height: 20px;
  text-align: center;
}
.chapter-list {
  list-style: none;
}
.chapter-item {
  padding-bottom: 44px;
}
.service-list {
  padding-left: 0;
  list-style: none;
}
.service-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  max-width: 560px;
  width: 100%;
  margin-left: 520px;
  margin-top: 0;
  margin-bottom: 0;
}
.service-img {
  width: 136px;
  margin-left: 1111px;
}
.service-subtitle {
  max-width: 497px;
  width: 100%;
  margin-left: 520px;
}
.container.container-service {
  margin: 0;
  padding: 0;
}
.container-details {
  display: flex;
}
.details-title {
  position: relative;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  padding-top: 50px;
  margin-bottom: 45px;
}
.details-title::before {
  position: absolute;
  content: "";
  width: 80px;
  height: 7px;
  background-color: var(--basic-black);
  left: 0;
  top: 0;
}
.details-subtitle {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  max-width: 497px;
  width: 100%;
  padding-bottom: 8px;
}
.details-subtitles {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  max-width: 497px;
  width: 100%;
  padding-right: 103px;
}
.details-list {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 20px;
  margin-top: 47px;
  max-width: 497px;
  width: 100%;
  padding: 0;
  padding-bottom: 27px;
}
.details-item {
  padding-bottom: 22px;
  margin-left: 32px;
}
.details {
  width: 50%;
  margin-top: 56px;
}
.details-write {
  position: relative;
}
.button {
  position: relative;
  max-width: 260px;
  width: 100%;
  z-index: 0;
  border: 0;
  background-color: transparent;
  font-family: "Raleway";
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin: 0;
  padding: 0;
  padding-bottom: 89px;
}
.button::before {
  position: absolute;
  content: "";
  width: 259px;
  height: 8px;
  background-color: var(--basic-extra-yellow);
  z-index: -1;
  margin: auto;
  right: 0;
  left: 0;
  top: 5px;
}
.car-delivery {
  margin-top: 90px;
  background-color: var(--basic-white);
}
.car-delivery-title {
  max-width: 910px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.2em;
  padding-left: 256px;
  color: var(--basic-black);
}
.car-delivery-title::before {
  content: "";
  width: 125px;
  height: 100%;
  background-color: var(--basic-yellow);
  position: absolute;
  left: 0;
  top: 0;
  background-image: url(../img/index/delivery-car.svg);
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 50%;
}
.container-delivery {
  display: flex;
  align-items: center;
  padding-left: 39px;
  height: 100px;
  margin: 0;
  padding: 0;
  position: relative;
  text-decoration: none;
}
.container-delivery:active {
  opacity: 30%;
}
.container-delivery:hover {
}
.container-delivery:focus {
  border-color: var(--basic-purple);
  border: 2px solid var(--basic-purple);
}

.delivery {
  max-width: 124px;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--basic-yellow);
}
.car-delivery::before {
  background-image: url(../img/index/delivery-car.svg);
  background-position: left;
  background-size: 47px 31px;
  background-repeat: no-repeat;
  width: 47px;
  height: 31px;
}
.logo {
  max-width: 125px;
  width: 100%;
}
.container-details {
}
.container-contacts {
  display: flex;
}
.contacts {
  width: 50%;
  margin-top: 56px;
  margin-left: 39px;
}
.contacts-phone {
  color: var(--basic-extra-black);
}
.contacts-title {
  position: relative;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  max-width: 560px;
  width: 100%;
  padding-top: 50px;
  margin-bottom: 45px;
}
.contacts-title::before {
  position: absolute;
  content: "";
  width: 80px;
  height: 7px;
  background-color: var(--basic-black);
  left: 0;
  top: 0;
}
.contacts-subtitle {
  font-family: "Rubik", sans-serif;
  font-size: 24px;
  line-height: 30px;
}
.contacts-addres {
  margin: 0;
  padding: 0;
}
.contacts-mode {
  max-width: 204px;
  width: 100%;
  margin-bottom: 58px;
}
.container-mailing {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}
.mailing {
  background-color: var(--basic-white);
  padding-top: 75px;
  padding-bottom: 130px;
}
.mailing-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  max-width: 560px;
  width: 100%;
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 40px;
}
.mailing-text {
  display: flex;
  margin-bottom: 45px;
}
.mailing-subtitle {
  max-width: 560px;
  width: 100%;
  margin-top: 6px;
}
.mailing-info {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
  margin-top: 0;
}
.mailing-settings {
  display: flex;
  justify-content: space-between;
}
.button-mailing {
  width: 260px;
  height: 55px;
  border: 3px solid rgba(0, 0, 0, 0.1);
}
.button-mailing:focus {
  border: 3px solid rgba(175, 79, 255, 1);
}
.button-mailing:hover {
  background-color: var(--basic-black);
  color: var(--basic-extra-white);
}
.button-mailing:active {
  background-color: var(--basic-black);
  color: var(--basic-popular-grey);
}
.appointment-form-mailing {
  margin-right: auto;
  display: flex;
}
.mailing-input {
  background-color: transparent;
  border: 0;
  width: 600px;
  border-bottom: 3px solid rgba(0, 0, 0, 0.1);
  font-size: 18px;
  line-height: 30px;
  font-family: inherit;
  color: rgba(68, 68, 68, 0.5);
}
.mailing-input:focus {
  background-color: var(--basic-grey);
  outline: none;
}
.mailing-input:hover {
  border-bottom: 3px solid rgba(0, 0, 0, 0.2);
}
.mailing-input:active {
  border-bottom: 3px solid rgba(0, 0, 0, 1);
}
.mailing-input:invalid {
  border-bottom: 3px solid rgba(255, 61, 61, 1);
}
.mailing-info::before {
  display: flex;
  content: "";
  background-image: url(../img/index/ok.svg);
  background-position: left;
  background-size: 14px 14px;
  background-repeat: no-repeat;
  width: 14px;
  height: 14px;
  padding-left: 43px;
}
.socials-item {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
}
.description-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  margin-top: 37px;
}
.breadcrumb {
  display: flex;
  padding: 0;
}
.breadcrumb-item {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 19px;
  list-style: none;
}
.breadcrumb-link {
  color: var(--basic-black);
  text-decoration: none;
  margin-right: 35px;
}
.triangle-first {
  margin-right: 17px;
}
.triangle {
  margin-right: 15px;
}
.catalog-filter {
  max-width: 468px;
  list-style: none;
}
.catalog-products-title {
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-black);
  max-width: 280px;
}
.catalog-products-link {
  text-decoration: none;
}
.catalog-products-price {
  max-width: 63px;
}
.catalog-list {
  display: flex;
  justify-content: space-between;
}
.catalog-filter {
  background-color: var(--basic-popular-white);
}
.catalog-filter-group {
  border: 0;
}
.catalog-products:nth-child(odd) {
  margin-right: 40px;
}
.catalog-products-title {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-extra-black);
}
.catalog-products-price {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
}
.filter-title {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  background-color: var(--basic-grey);
  text-align: center;
  margin: 0;
  height: 70px;
  padding: 25px;
}
.button-catalog {
  text-transform: uppercase;
  max-width: 760px;
  width: 100%;
  margin-bottom: 51px;
  margin-left: 70px;
  height: 55px;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  border: 3px solid rgba(0, 0, 0, 0.1);
  background-color: var(--basic-popular-white);
}
.wrapper-catalog {
  display: grid;
  grid-template-columns: 330px 1fr;
  margin-top: 82px;
}
.button-filter {
  border: 0;
  max-width: 200px;
  width: 100%;
  height: 20px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: var(--basic-popular-white);
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
}
.product-list {
  display: grid;
  grid-template-columns: repeat(2, 360px);
  grid-gap: 44px 40px;
  padding-top: 69px;
  padding-left: 72px;
  list-style: none;
}
.container-product {
  display: flex;
  flex-wrap: wrap;
}

.container-sorting-type {
  font-size: 16px;
  line-height: 19px;
  font-weight: 800;
  text-transform: uppercase;
}
.sorting-type-sort {
  padding-left: 72px;
}
.container-filter {
  display: flex;
}
.sorting-type {
  background-color: var(--basic-extra-grey);
  max-width: 972px;
  width: 100%;
  height: 70px;
  padding-top: 25px;
}
.select-control {
  border: 0;
  background-color: var(--basic-extra-grey);
  margin-right: 356px;
}
.smaller {
  margin-right: 19px;
}
.legend {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
}
.container-pagination {
  display: flex;
  justify-content: space-around;
}

.pagination {
  display: flex;
  list-style: none;
  background-color: var(--basic-extra-grey);
}
.pagination-item {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
}
.pagination-next {
  color: var(--basic-black);
}
.pagination-link {
  color: var(--basic-extra-black);
}

.footer {
  background-color: var(--basic-extra-black);
  padding-top: 62px;
  padding-bottom: 61px;
  padding: 70px;
}
.footer-map-addres {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: var(--basic-extra-white);
  font-weight: 400;
}
.footer-center {
  display: flex;
  justify-content: space-between;
}
.container-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
}
.container-footer::before {
  content: "";
  width: 80px;
  height: 7px;
  background-color: var(--basic-extra-yellow);
}
.footer-map {
  max-width: 240px;
  width: 100%;
}
.footer-menu {
  display: flex;
  min-width: 458px;
}
.footer-style {
  color: var(--basic-white);
  text-decoration: none;
}
.footer-style:focus {
  border: 2px solid var(--basic-purple);
  border-radius: 20px;
}
.footer-style:hover {
  color: var(--basic-extra-yellow);
  text-decoration: underline;
}
.footer-style:active {
  color: rgba(255, 199, 0, 0.1);
}
.footer-item {
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  display: flex;
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  letter-spacing: 0.2em;
}
.footer-list {
  color: var(--basic-extra-white);
  min-width: 148px;
  width: 100%;
  margin-right: 14px;
  text-transform: uppercase;
}

.socials-item {
  list-style: none;
  display: flex;
}
.socials-list {
  padding-right: 15px;
  text-align: center;
}
.footer-phone {
  color: var(--basic-extra-white);
  text-decoration: none;
}
.footer-phone:focus {
  border: 2px solid var(--basic-purple);
  border-radius: 20px;
}
.footer-phone:hover {
  color: var(--basic-extra-yellow);
}
.footer-phone:active {
  color: rgba(255, 199, 0, 0.1);
}
.contact-phone {
  color: var(--basic-extra-white);
  max-width: 293px;
  margin-top: 16px;
  margin-bottom: 0;
}
.socials-link {
  width: 40px;
  height: 40px;
  background-color: var(--basic-popular-grey);
  display: block;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.socials-link:focus {
  border: 5px solid var(--basic-purple);
  border-radius: 20px;
}
.socials-link:hover {
  background-color: var(--basic-extra-yellow);
}
.socials-link:active {
  background-color: rgba(255, 199, 0, 0.1);
}
.logo-footer {
  cursor: pointer;
}
.logo-footer:focus {
  border: 2px solid var(--basic-purple);
  border-radius: 10px;
}
.logo-footer:hover {
  color: var(--basic-extra-white);
}
.logo-footer:active {
  color: var(--basic-extra-black);
}
